In [1]:
# import lib pandas
import pandas as pd

In [2]:
# import dataset
dataset = pd.read_csv('../arquivos/dataset.csv', sep = ',', quotechar = "'", index_col = False)

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594643 entries, 0 to 594642
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   step         594643 non-null  int64
 1   customer     594643 non-null  object
 2   age          594643 non-null  object
 3   gender       594643 non-null  object
 4   zipcodeOri   594643 non-null  int64
 5   merchant     594643 non-null  object
 6   zipMerchant  594643 non-null  int64
 7   category     594643 non-null  object
 8   amount       594643 non-null  float64
 9   fraud        594643 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 45.4+ MB

In [4]:
# dataset preview
dataset.head()

,step,customer,age,gender,zipcodeOri,merchant,zipMerchant,category,amount,fraud
0,0,C1093826151,4,M,28007,M348934600,28007,es_transportation,4.55,0
1,0,C352968107,2,M,28007,M348934600,28007,es_transportation,39.68,0
2,0,C2054744914,4,F,28007,M1823072687,28007,es_transportation,26.89,0
3,0,C1760612790,3,M,28007,M348934600,28007,es_transportation,17.25,0
4,0,C757503768,5,M,28007,M348934600,28007,es_transportation,35.72,0

In [5]:
dataset.shape

(594643, 10)

# Verificando a ocorrência de colunas com dados inválidos que fogem do padrão da codificação

In [6]:
list(dataset['age'].drop_duplicates())

['4', '2', '3', '5', '1', '6', 'U', '0']

In [7]:
list(dataset['gender'].drop_duplicates())

['M', 'F', 'E', 'U']

In [8]:
list(dataset['fraud'].drop_duplicates())

[0, 1]

In [9]:
list(dataset['category'].drop_duplicates())

['es_transportation',
 'es_health',
 'es_otherservices',
 'es_food',
 'es_hotelservices',
 'es_barsandrestaurants',
 'es_tech',
 'es_sportsandtoys',
 'es_wellnessandbeauty',
 'es_hyper',
 'es_fashion',
 'es_home',
 'es_contents',
 'es_travel',
 'es_leisure']

# Filtra dataset com a coluna "age" contendo dados válidos (int)

In [ ]:
age_valido = \
    (dataset['age'] == '0') | \
    (dataset['age'] == '1') | \
    (dataset['age'] == '2') | \
    (dataset['age'] == '3') | \
    (dataset['age'] == '4') | \
    (dataset['age'] == '5') | \
    (dataset['age'] == '6')

In [ ]:
# Exporta novo CSV com os dados dos candidatos selecionados e referentes ao 1º turno das eleições de 2014
dataset_tratamento_age = dataset[age_valido].sort_values(by = 'step', ascending = True).to_csv('../arquivos/dataset_tratamento_age.csv', sep = ',', quotechar = "'", index = False)

In [ ]:
dataset2 = pd.read_csv('../arquivos/dataset_tratamento_age.csv', sep = ',', quotechar = "'")

In [ ]:
dataset.shape

In [ ]:
dataset2.shape

In [ ]:
age_valido = ['0', '1', '2', '3', '4', '5', '6']